<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /checking/domeme_api5

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule (?!public|ueditor)^.*$ /checking/domeme_api5/index.php    [L]
</IfModule>